body {
    margin: 0;
    padding: 0;
    overflow: hidden;
      font-family: monospace;
      font-weight: bold;
}

.AppContainer {
    width: 100%;
    height: 100vh;
    color: black;
    background: no-repeat center/100% url("blue_and_red.jpg");
}

.subContainer {
    width: 100%;
    height: 100vh;
    border-radius: 3%;
    background-color: rgba(255, 255, 255, .3);
}

.subContainer h2 {
    text-align: center;
    color: black;
}
/**
 *
 */

select{
  margin:20px;
  width: 70%;
  font-size: 12px;
}
input[type=text]{
  margin:20px;
    width: 70%;
}
label{
  color: black;
  float: left;
  padding: 5px;
}
/**
 *
 */

.title {
    color: #C0C0C0;
}

.subContainer_AFN {
    width: 100%;
    height: 100vh;
    border-radius: 3%;
    background-color: rgba(255, 100, 255, .3);
}

.subContainer_AFN h2 {
    text-align: center;
    color: black;
}
